<div class="about_section layout_padding">
        <div class="container">
          <div class="row">  
            {{ range $key, $value := .Articles }}
                <li><strong>{{ $key }}</strong>: {{ $value }}</li>
                 {{ range $k, $v := $value }}
                <div class="col-md-6">
                  <p class="unique_text">About Us</p>
                  <h1 class="years_text">{{ $k }}</h1>
                  <p class="ipsum_text">  {{ $v }} </p>
                  <div class="read_more_bt"><a href="#">READ MORE</a></div>
                </div>
                {{ end }}     
            {{ end }}
            <div class="col-md-6">
              <div class="image_2"><img src="/images/call-icon.png"></div>
            </div>
          </div> 
    
        </div>
      </div>